<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.geometerplus.android.fbreader" >

    <supports-screens android:smallScreens="true" android:normalScreens="true" android:largeScreens="true" android:xlargeScreens="true" android:anyDensity="true"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application>

        <activity
            android:name="com.loopeer.android.apps.lreader.ui.activities.ContentsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.loopeer.android.apps.lreader.ui.activities.SettingReadActivity"
            android:launchMode="singleTask" />
        <activity
            android:name="com.loopeer.android.apps.lreader.ui.activities.SettingFontManageActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <activity android:name="org.geometerplus.android.fbreader.error.BookReadingErrorActivity" android:theme="@style/FBReader.Dialog" android:process=":error" android:configChanges="orientation|keyboardHidden|screenSize">
            <intent-filter>
                <action android:name="android.fbreader.action.ERROR"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="BookReadingException"/>
            </intent-filter>
        </activity>
        <activity android:name="org.geometerplus.zlibrary.ui.android.error.BugReportActivity" android:label="@string/app_name" android:theme="@style/FBReader.Activity" android:process=":crash" android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity android:name="org.geometerplus.android.fbreader.crash.MissingNativeLibraryActivity" android:theme="@style/FBReader.Dialog" android:process=":crash" android:configChanges="orientation|keyboardHidden|screenSize">
            <intent-filter>
                <action android:name="android.fbreader.action.CRASH"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="ExceptionInInitializerError"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.fbreader.action.CRASH"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="UnsatisfiedLinkError"/>
            </intent-filter>
        </activity>
        <service android:name="org.geometerplus.android.fbreader.api.ApiService" android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.fbreader.action.API"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </service>
        <activity
            android:name="org.geometerplus.android.fbreader.FBReader"
            android:launchMode="singleTask"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/Theme.Platform">
            <intent-filter>
                <action android:name="android.fbreader.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.fbreader.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="file"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="fbreader-action"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.fbreader.action.PLUGIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:host="" android:scheme="file"/>
                <data android:pathPattern=".*\\.epub"/>
                <data android:pathPattern=".*\\.oeb"/>
                <data android:pathPattern=".*\\.fb2"/>
                <data android:pathPattern=".*\\.fb2\\.zip"/>
                <data android:pathPattern=".*\\.mobi"/>
                <data android:pathPattern=".*\\.prc"/>
                <data android:pathPattern=".*\\.txt"/>
                <data android:pathPattern=".*\\.rtf"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:host="" android:scheme="file" android:mimeType="text/plain"/>
                <data android:pathPattern=".*\\.epub"/>
                <data android:pathPattern=".*\\.oeb"/>
                <data android:pathPattern=".*\\.fb2"/>
                <data android:pathPattern=".*\\.mobi"/>
                <data android:pathPattern=".*\\.prc"/>
                <data android:pathPattern=".*\\.txt"/>
                <data android:pathPattern=".*\\.rtf"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="content" android:pathPattern=".*\\.fb2"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="" android:scheme="file"/>
                <data android:mimeType="application/epub+zip"/>
                <data android:mimeType="application/x-pilot-prc"/>
                <data android:mimeType="application/x-mobipocket-ebook"/>
                <data android:mimeType="application/x-fictionbook+xml"/>
                <data android:mimeType="application/x-fictionbook"/>
                <data android:mimeType="text/plain"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>
            <meta-data android:name="android.app.searchable" android:resource="@xml/searchable"/>
            <intent-filter>
                <action android:name="android.fbreader.action.CLOSE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.fbreader.action.PLUGIN_CRASH"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name="org.geometerplus.android.fbreader.CancelActivity" android:theme="@style/FBReader.Dialog" android:configChanges="orientation|keyboardHidden|screenSize">
            <intent-filter>
                <action android:name="android.fbreader.action.CANCEL_MENU"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name="org.geometerplus.android.fbreader.PluginListActivity" android:theme="@style/FBReader.Dialog" android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity android:name="org.geometerplus.android.fbreader.style.StyleListActivity" android:theme="@style/FBReader.Dialog" android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity android:name="org.geometerplus.android.fbreader.style.EditStyleActivity" android:theme="@style/FBReader.Dialog" android:configChanges="orientation|keyboardHidden|screenSize">
            <intent-filter>
                <action android:name="android.fbreader.action.EDIT_STYLES"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name="org.geometerplus.android.fbreader.image.ImageViewActivity" android:process=":imageView" android:theme="@style/FBReader.Activity" android:configChanges="orientation|keyboardHidden|screenSize"/>
        <service android:name="org.geometerplus.android.fbreader.libraryService.LibraryService" android:launchMode="singleTask" android:process=":libraryService">
            <intent-filter>
                <action android:name="android.fbreader.action.LIBRARY_SERVICE"/>
            </intent-filter>
        </service>
        <service android:name="org.geometerplus.android.fbreader.config.ConfigService" android:launchMode="singleTask" android:process=":configService">
            <intent-filter>
                <action android:name="android.fbreader.action.CONFIG_SERVICE"/>
            </intent-filter>
        </service>
        <activity android:name="org.geometerplus.android.fbreader.library.BookInfoActivity" android:theme="@style/FBReader.Activity" android:process=":library" android:configChanges="orientation|keyboardHidden|screenSize">
            <intent-filter>
                <action android:name="android.fbreader.action.BOOK_INFO"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name="org.geometerplus.android.fbreader.library.LibrarySearchActivity" android:process=":library" android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>
            <meta-data android:name="android.app.searchable" android:resource="@xml/searchable"/>
        </activity>
        <activity android:name="org.geometerplus.android.fbreader.library.LibraryActivity" android:launchMode="singleTask" android:process=":library" android:theme="@style/FBReader.Activity" android:configChanges="orientation|keyboardHidden|screenSize">
            <meta-data android:name="android.app.default_searchable" android:value="org.geometerplus.android.fbreader.library.LibrarySearchActivity"/>
            <intent-filter>
                <action android:name="android.fbreader.action.LIBRARY"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name="org.geometerplus.android.fbreader.TOCActivity" android:theme="@style/FBReader.Activity" android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity android:name="org.geometerplus.android.fbreader.BookmarksActivity" android:launchMode="singleTask" android:process=":bookmarks" android:theme="@style/FBReader.Activity" android:configChanges="orientation|keyboardHidden|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>
            <meta-data android:name="android.app.searchable" android:resource="@xml/searchable"/>
            <intent-filter>
                <action android:name="android.fbreader.action.BOOKMARKS"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name="org.geometerplus.android.fbreader.BookmarkEditActivity" android:theme="@style/FBReader.Dialog" android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity android:name="org.geometerplus.android.fbreader.preferences.PreferenceActivity" android:theme="@style/FBReader.Activity" android:configChanges="orientation|keyboardHidden|screenSize" android:process=":preferences">
            <intent-filter>
                <action android:name="android.fbreader.action.PREFERENCES"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name="org.geometerplus.android.fbreader.preferences.EditBookInfoActivity" android:process=":library" android:theme="@style/FBReader.Activity" android:configChanges="orientation|keyboardHidden|screenSize"/>
        <service android:name="org.geometerplus.android.fbreader.httpd.DataService" android:launchMode="singleTask" android:process=":dataService" android:exported="false"/>
        <activity android:name="org.geometerplus.android.util.EditTagsDialogActivity" android:configChanges="orientation|screenSize|keyboard|keyboardHidden" android:theme="@style/FBReader.Dialog" android:exported="false"/>
        <activity android:name="org.geometerplus.android.util.EditAuthorsDialogActivity" android:configChanges="orientation|screenSize|keyboard|keyboardHidden" android:theme="@style/FBReader.Dialog" android:exported="false"/>

    </application>

</manifest>
